table{
    width: 100%;
    border-collapse: collapse;
    tr{
        border-bottom: 1px solid gray;
    }
    tr:nth-of-type(2n+1){
        background-color: lightgray;
    }
    td,th{
        text-align: center;
        padding: 0.3em;
    }
    th{
        background-color: gray;
        color: white;
    }
    td:last-of-type{
        text-align: left;
    }
}
button{
    background-color: navy;
    color: white;
    padding: 0.2em 0.4em;
    border: none;
    border-radius: 0.3em;
    margin: 0.2em;
}